.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 1px solid #AA6817;
  cursor: pointer;
  outline: none;
}


.BuildControl button:disabled {
  background-color: gray;
  border: 1px solid #7E7365;
  color: white;
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
  color: white;
}

.BuildControl .Less {  
  border-color: white;
  background-color: transparent;
  color: white;
}

.BuildControl .More {
  background-color:#ed7903;
  color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
  background-color: #404754;
  color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
  background-color: #ec971a;
  color: white;
}